//
// Badge
// --------------------------------------------------
/// opacity for a disabled button.
/// @type List
$badge-opacity-disable: 0.35 !default;

.badge {
  &.square {
    border-radius: 0;
  }

  &.hollow {
    background: transparent;
    border: solid 1px $primary-color;
    color: $primary-color;

    @each $name, $color in $badge-palette {
      &.#{$name} {
        border-color: $color;
        color: $color;
      }
    }
  }

  &.disable {
    opacity: $badge-opacity-disable;
  }
}
