//
// Classes
// --------------------------------------------------

//-- Clearfix
.cf {
  @include clearfix;
}

//-- Absolute Center
.absolute-center {
  @include absolute-center;
}

//-- Horizontal Center
.horizontal-center {
  @include horizontal-center;
}

@include breakpoint(small only) {
  &.vertical-center-small-only {
    @include vertical-center;
  }

  &.horizontal-center-small-only {
    @include horizontal-center;
  }
}

//-- Vertical Center
.vertical-center {
  @include vertical-center;
}

@include breakpoint(medium) {
  &.vertical-center-medium {
    @include vertical-center;
  }

  &.horizontal-center-medium {
    @include horizontal-center;
  }
}

//-- Fixed
.fixed-top {
  @include position(fixed, 0, null, null, null);
  z-index: $prototype-position-z-index;
}

.fixed-bottom {
  @include position(fixed, null, null, 0, null);
  z-index: $prototype-position-z-index;
}

@include breakpoint(medium) {
  .fixed-top-medium {
    @include position(fixed, 0, null, null, null);
    z-index: $prototype-position-z-index;
  }

  .fixed-bottom-medium {
    @include position(fixed, null, null, 0, null);
    z-index: $prototype-position-z-index;
  }
}

//Fit Align
.fit-center {
  @include style-fit-center;
}

//No Margin bottom
.no-margin {
  margin-bottom: 0 !important;
}
