//
// hr
// -------------------------------------------
$hr-border-class:             $hr-border !default;
$hr-margin-class:             get-side($hr-margin, bottom) !default;
$hr-vertical-height:          auto !default;
$hr-vertical-margin-top:      get-side($hr-margin, top) !default;
$hr-vertical-margin-bottom:   get-side($hr-margin, bottom) !default;
$hr-vertical-border:          $hr-border !default;

@mixin style-hr() {
  clear: both;
  margin-bottom: $hr-margin-class !important;

  border-top: 0;
  border-right: 0;
  border-bottom: $hr-border-class;
  border-left: 0;

  .cell & {
    margin-left: 0;
    margin-right: 0;
  }
}

@mixin style-hr-vertical() {
  width: 1px;
  height: $hr-vertical-height;
  margin: auto;
  margin-top: $hr-vertical-margin-top;
  margin-bottom: $hr-vertical-margin-bottom;
  border: 0;
  border-left: $hr-vertical-border;

  .cell & {
    height: calc(100% - #{($hr-vertical-margin-top + $hr-vertical-margin-bottom) / 2});
  }
}

.hr {
  @include style-hr;
}

.hr-vertical {
  @include style-hr-vertical;
}

.hr-margin {
  margin-bottom: $hr-margin !important;
}

