//
// Table
// --------------------------------------------------

$table-head-padding: ($global-padding / 2) 0 !default;
$table-head-margin-bottom: ($global-padding / 2) !default;

.table {
  .table-header {
    background-color: $table-head-background;
    color: $table-head-font-color;
    padding: $table-head-padding;
    margin-bottom: $table-head-margin-bottom;
  }

  .table-header,
  .table-row {
    @include xy-grid;
    @include xy-gutters($negative: true);

    & > * {
      @include xy-gutters($grid-padding-gutters, padding);
    }

    .table-cell {
      @include xy-cell-base();
      @include xy-cell-static(auto, false, $gutter-type: padding);

      &.shrink {
        @include xy-cell-base(shrink);
      }
    }
  }
}
