//
// Underline
// -------------------------------------------
$underline-width:   5rem !default;
$underline-size:    3px !default;
$underline-bottom:  0 !default;
$underline-left:    0 !default;
$underline-color:   $primary-color !default;

$underline-palette: $foundation-palette !default;

@mixin style-underline($color: $underline-color) {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: $underline-width;
    height: $underline-size;
    background-color: $color;
    bottom: $underline-bottom;
    left: $underline-left;
  }
}

.underline {
  @include style-underline;

  // Colors
  @each $name, $color in $underline-palette {
    &.#{$name}::after {
      background-color: $color;
    }
  }
}
