//
// Webicon
// --------------------------------------------------
$webicon-sizes: (
  tiny: 0.8rem,
  small: 0.9rem,
  default: 1rem,
  large: 1.25rem,
) !default;

$webicon-palette: $foundation-palette !default;

.webicon {
  // Sizes
  @each $size, $value in map-remove($webicon-sizes, default) {
    &.#{$size} {
      height: $value;
      width: $value;
    }
  }

  // Colors
  @each $name, $color in $webicon-palette {
    &.#{$name} {
      color: $color;
    }
  }
}
