//
// WordPress Grid
// --------------------------------------------------

@mixin wp-block-grid-container($type: null) {

  //Set default container
  @if ($type == null) {
    max-width: $grid-container;
    width: auto;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;

    $wp_block_gutters_small : rem-calc(map-get($grid-margin-gutters, medium));
    @include breakpoint(($grid-container + ($wp_block_gutters_small * 1.5))  down) {
      margin-left: $wp_block_gutters_small / 2;
      margin-right: $wp_block_gutters_small / 2;
    }
  }

  //Wide container
  @if ($type == wide) {
    &.alignwide {
      @include xy-grid-container(100%, 0);
      @include xy-gutters($gutter-type: margin);
      width: auto;

      > [class*="__inner-container"],
      > [class*="embed__wrapper"] {
        @include xy-grid-container(100%, 0);
        width: auto;
      }
    }
  }

  //Full container
  @if ($type == wide) {
    &.alignfull {
      @include xy-grid-container(100%, 0);

      > [class*="__inner-container"],
      > [class*="embed__wrapper"] {
        @include xy-grid-container(100%, 0);
      }
    }
  }
}

//-- alignment
.alignnone {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
  height: auto;
}

.aligncenter {
  display: block;
  height: auto;

  @include -zf-breakpoint-value(auto, $grid-padding-gutters) {
    margin: (rem-calc($-zf-bp-value) / 2) auto;
  }
}

.alignleft,
.alignright {
  height: auto;

  @include -zf-breakpoint-value(auto, $grid-padding-gutters) {
    margin-bottom: (rem-calc($-zf-bp-value) / 2);
  }
}

//-- Align position
@include breakpoint(medium) {
  .alignleft {
    float: left;

    @include -zf-breakpoint-value(medium, $grid-padding-gutters) {
      margin-right: (rem-calc($-zf-bp-value) / 2);
    }
  }

  .alignright {
    float: right;

    @include -zf-breakpoint-value(medium, $grid-padding-gutters) {
      margin-left: (rem-calc($-zf-bp-value) / 2);
    }
  }
}

//-- Block alignment (compatible woocommerce)
@if $xy-grid {
  [class*="wc-block"]:not([class*="__"]),
  [class*="wp-block"]:not([class*="__"]) {
    @include wp-block-grid-container;
    @include wp-block-grid-container(wide);
    @include wp-block-grid-container(full);
  }

  main {
    > p,
    > ul,
    > ol,
    > h1,
    > h2,
    > h3,
    > h4,
    > h5,
    > h6,
    > span,
    > label,
    > * > p,
    > * > ul,
    > * > ol,
    > * > h1,
    > * > h2,
    > * > h3,
    > * > h4,
    > * > h5,
    > * > h6,
    > * > span,
    > * > label {
      @include wp-block-grid-container;
    }
  }
}
