//
// Fit style mixin
// --------------------------------------------------
@mixin style-fit-center() {
  width: fit-content !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
