//  rcBase variables
//  -----------------------------
//== Color Palette
$base-palette: (
  primary: #1779ba,
  secondary: #767676,
  success: #18a733,
  warning: #ffae00,
  alert: #cc4b37,
);

$black-base:             #000;
$white-base:             #fefefe;
$gray-base:              lighten($black-base, 30%);
$medium-gray-base:       lighten($black-base, 46.7%);
$light-gray-base:        lighten($black-base, 93.5%);
$dark-gray-base:         lighten($black-base, 20%);

//== Body
$body-background-base: $white-base;
$body-font-color-base: $black-base;

//== Global
$global-flexbox-base: true;
