//  Rc Base settings
//  -----------------------------

@import 'util/util';

//== Main Grid (Only XY = full, fluid, gutter and none)
$base-container-main: none;
$base-container-main-header: fluid;
$base-size-sidebar: (
  small: 4,
  medium: 3
);

//== Font Icons
$fi-font-path: "fonts" !default;

//== Font Stack
$base-font-stack: (
  /**
  courier_new: (
    path: "../fonts/courier_new",
    ext: woff2 woff ttf,
    font-family: ("Courier New", Courier, "Nimbus Sans L", monospace),
    font-weight: normal,
    font-style: normal,
  ),
  */
);
