//  Rc Base settings
//  -----------------------------

@import "../util/util";
@import "../components/icons/variables";

//== Main Grid (Only XY = full, fluid, gutter and none)
$base-container-main: none;
$base-container-main-header: fluid;
$base-size-sidebar: (
  small: 4,
  medium: 3
);

//== Hamburger
//Source: https://github.com/jonsuh/hamburgers
$hamburger-padding-x           : 15px !default;
$hamburger-padding-y           : 15px !default;
$hamburger-layer-width         : 40px !default;
$hamburger-layer-height        : 4px !default;
$hamburger-layer-spacing       : 6px !default;
$hamburger-layer-color         : #000 !default;
$hamburger-layer-border-radius : 4px !default;
$hamburger-hover-opacity       : 0.7 !default;
$hamburger-active-layer-color  : $hamburger-layer-color !default;
$hamburger-active-hover-opacity: $hamburger-hover-opacity !default;
$hamburger-hover-use-filter    : false !default;
$hamburger-hover-filter        : opacity(50%) !default;
$hamburger-active-hover-filter : $hamburger-hover-filter !default;
$hamburger-types: (
  "3dx",
  "3dx-r",
  "3dy",
  "3dy-r",
  "3dxy",
  "3dxy-r",
  arrow,
  arrow-r,
  arrowalt,
  arrowalt-r,
  arrowturn,
  arrowturn-r,
  boring,
  collapse,
  collapse-r,
  elastic,
  elastic-r,
  emphatic,
  emphatic-r,
  minus,
  slider,
  slider-r,
  spin,
  spin-r,
  spring,
  spring-r,
  stand,
  stand-r,
  squeeze,
  vortex,
  vortex-r
) !default;

//== Font Stack
$base-font-stack: (
  /**
  courier_new: (
    path: "../fonts/courier_new",
    ext: woff2 woff ttf,
    font-family: ("Courier New", Courier, "Nimbus Sans L", monospace),
    font-weight: normal,
    font-style: normal,
  ),
  */
);

//== FONT
$body-font-family-base: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;

//== Font Icons
$fi-font-path: "fonts" !default;
$fi-font-family: "rc-base-icons" !default;
$fi-font-size-base: 1em !default;
$fi-font-prefix: "fi" !default;

//== Awesome Foundation6 Checkbox
$afc-font-family: $fi-font-family !default;
$afc-var-check: $fi-var-check !default;
