/* stylelint-disable */
.fi-add-user {
  &:before {
    content: $fi-var-add-user;
  }
}
.fi-airplay {
  &:before {
    content: $fi-var-airplay;
  }
}
.fi-alarm {
  &:before {
    content: $fi-var-alarm;
  }
}
.fi-album {
  &:before {
    content: $fi-var-album;
  }
}
.fi-albums {
  &:before {
    content: $fi-var-albums;
  }
}
.fi-anchor {
  &:before {
    content: $fi-var-anchor;
  }
}
.fi-angle-down {
  &:before {
    content: $fi-var-angle-down;
  }
}
.fi-angle-down-circle {
  &:before {
    content: $fi-var-angle-down-circle;
  }
}
.fi-angle-left {
  &:before {
    content: $fi-var-angle-left;
  }
}
.fi-angle-left-circle {
  &:before {
    content: $fi-var-angle-left-circle;
  }
}
.fi-angle-right {
  &:before {
    content: $fi-var-angle-right;
  }
}
.fi-angle-right-circle {
  &:before {
    content: $fi-var-angle-right-circle;
  }
}
.fi-angle-up {
  &:before {
    content: $fi-var-angle-up;
  }
}
.fi-angle-up-circle {
  &:before {
    content: $fi-var-angle-up-circle;
  }
}
.fi-arc {
  &:before {
    content: $fi-var-arc;
  }
}
.fi-attention {
  &:before {
    content: $fi-var-attention;
  }
}
.fi-back {
  &:before {
    content: $fi-var-back;
  }
}
.fi-back-2 {
  &:before {
    content: $fi-var-back-2;
  }
}
.fi-ball {
  &:before {
    content: $fi-var-ball;
  }
}
.fi-ban {
  &:before {
    content: $fi-var-ban;
  }
}
.fi-bandaid {
  &:before {
    content: $fi-var-bandaid;
  }
}
.fi-battery {
  &:before {
    content: $fi-var-battery;
  }
}
.fi-bell {
  &:before {
    content: $fi-var-bell;
  }
}
.fi-bicycle {
  &:before {
    content: $fi-var-bicycle;
  }
}
.fi-bluetooth {
  &:before {
    content: $fi-var-bluetooth;
  }
}
.fi-bookmarks {
  &:before {
    content: $fi-var-bookmarks;
  }
}
.fi-bottom-arrow {
  &:before {
    content: $fi-var-bottom-arrow;
  }
}
.fi-box1 {
  &:before {
    content: $fi-var-box1;
  }
}
.fi-box2 {
  &:before {
    content: $fi-var-box2;
  }
}
.fi-browser {
  &:before {
    content: $fi-var-browser;
  }
}
.fi-calculator {
  &:before {
    content: $fi-var-calculator;
  }
}
.fi-call {
  &:before {
    content: $fi-var-call;
  }
}
.fi-camera {
  &:before {
    content: $fi-var-camera;
  }
}
.fi-car {
  &:before {
    content: $fi-var-car;
  }
}
.fi-cart {
  &:before {
    content: $fi-var-cart;
  }
}
.fi-cash {
  &:before {
    content: $fi-var-cash;
  }
}
.fi-chat {
  &:before {
    content: $fi-var-chat;
  }
}
.fi-check {
  &:before {
    content: $fi-var-check;
  }
}
.fi-check-2 {
  &:before {
    content: $fi-var-check-2;
  }
}
.fi-clock {
  &:before {
    content: $fi-var-clock;
  }
}
.fi-close {
  &:before {
    content: $fi-var-close;
  }
}
.fi-close-circle {
  &:before {
    content: $fi-var-close-circle;
  }
}
.fi-cloud {
  &:before {
    content: $fi-var-cloud;
  }
}
.fi-cloud-download {
  &:before {
    content: $fi-var-cloud-download;
  }
}
.fi-cloud-upload {
  &:before {
    content: $fi-var-cloud-upload;
  }
}
.fi-coffee {
  &:before {
    content: $fi-var-coffee;
  }
}
.fi-comment {
  &:before {
    content: $fi-var-comment;
  }
}
.fi-compass {
  &:before {
    content: $fi-var-compass;
  }
}
.fi-config {
  &:before {
    content: $fi-var-config;
  }
}
.fi-copy-file {
  &:before {
    content: $fi-var-copy-file;
  }
}
.fi-credit {
  &:before {
    content: $fi-var-credit;
  }
}
.fi-crop {
  &:before {
    content: $fi-var-crop;
  }
}
.fi-culture {
  &:before {
    content: $fi-var-culture;
  }
}
.fi-cup {
  &:before {
    content: $fi-var-cup;
  }
}
.fi-date {
  &:before {
    content: $fi-var-date;
  }
}
.fi-delete-user {
  &:before {
    content: $fi-var-delete-user;
  }
}
.fi-diamond {
  &:before {
    content: $fi-var-diamond;
  }
}
.fi-disk {
  &:before {
    content: $fi-var-disk;
  }
}
.fi-diskette {
  &:before {
    content: $fi-var-diskette;
  }
}
.fi-display1 {
  &:before {
    content: $fi-var-display1;
  }
}
.fi-display2 {
  &:before {
    content: $fi-var-display2;
  }
}
.fi-door-lock {
  &:before {
    content: $fi-var-door-lock;
  }
}
.fi-down-arrow-2 {
  &:before {
    content: $fi-var-down-arrow-2;
  }
}
.fi-down-arrow-3 {
  &:before {
    content: $fi-var-down-arrow-3;
  }
}
.fi-download {
  &:before {
    content: $fi-var-download;
  }
}
.fi-drawer {
  &:before {
    content: $fi-var-drawer;
  }
}
.fi-drop {
  &:before {
    content: $fi-var-drop;
  }
}
.fi-edit {
  &:before {
    content: $fi-var-edit;
  }
}
.fi-envelope {
  &:before {
    content: $fi-var-envelope;
  }
}
.fi-exapnd2 {
  &:before {
    content: $fi-var-exapnd2;
  }
}
.fi-expand1 {
  &:before {
    content: $fi-var-expand1;
  }
}
.fi-eyedropper {
  &:before {
    content: $fi-var-eyedropper;
  }
}
.fi-facebook {
  &:before {
    content: $fi-var-facebook;
  }
}
.fi-facebook-2 {
  &:before {
    content: $fi-var-facebook-2;
  }
}
.fi-female {
  &:before {
    content: $fi-var-female;
  }
}
.fi-file {
  &:before {
    content: $fi-var-file;
  }
}
.fi-film {
  &:before {
    content: $fi-var-film;
  }
}
.fi-filter {
  &:before {
    content: $fi-var-filter;
  }
}
.fi-flag {
  &:before {
    content: $fi-var-flag;
  }
}
.fi-folder {
  &:before {
    content: $fi-var-folder;
  }
}
.fi-gift {
  &:before {
    content: $fi-var-gift;
  }
}
.fi-glasses {
  &:before {
    content: $fi-var-glasses;
  }
}
.fi-gleam {
  &:before {
    content: $fi-var-gleam;
  }
}
.fi-global {
  &:before {
    content: $fi-var-global;
  }
}
.fi-graph {
  &:before {
    content: $fi-var-graph;
  }
}
.fi-graph1 {
  &:before {
    content: $fi-var-graph1;
  }
}
.fi-graph2 {
  &:before {
    content: $fi-var-graph2;
  }
}
.fi-graph3 {
  &:before {
    content: $fi-var-graph3;
  }
}
.fi-gym {
  &:before {
    content: $fi-var-gym;
  }
}
.fi-hammer {
  &:before {
    content: $fi-var-hammer;
  }
}
.fi-headphones {
  &:before {
    content: $fi-var-headphones;
  }
}
.fi-helm {
  &:before {
    content: $fi-var-helm;
  }
}
.fi-help1 {
  &:before {
    content: $fi-var-help1;
  }
}
.fi-help2 {
  &:before {
    content: $fi-var-help2;
  }
}
.fi-home {
  &:before {
    content: $fi-var-home;
  }
}
.fi-hourglass {
  &:before {
    content: $fi-var-hourglass;
  }
}
.fi-id {
  &:before {
    content: $fi-var-id;
  }
}
.fi-info {
  &:before {
    content: $fi-var-info;
  }
}
.fi-instagram {
  &:before {
    content: $fi-var-instagram;
  }
}
.fi-joy {
  &:before {
    content: $fi-var-joy;
  }
}
.fi-junk {
  &:before {
    content: $fi-var-junk;
  }
}
.fi-key {
  &:before {
    content: $fi-var-key;
  }
}
.fi-keypad {
  &:before {
    content: $fi-var-keypad;
  }
}
.fi-leaf {
  &:before {
    content: $fi-var-leaf;
  }
}
.fi-left-arrow {
  &:before {
    content: $fi-var-left-arrow;
  }
}
.fi-left-arrow-2 {
  &:before {
    content: $fi-var-left-arrow-2;
  }
}
.fi-left-arrow-3 {
  &:before {
    content: $fi-var-left-arrow-3;
  }
}
.fi-less {
  &:before {
    content: $fi-var-less;
  }
}
.fi-less-2 {
  &:before {
    content: $fi-var-less-2;
  }
}
.fi-light {
  &:before {
    content: $fi-var-light;
  }
}
.fi-like {
  &:before {
    content: $fi-var-like;
  }
}
.fi-like2 {
  &:before {
    content: $fi-var-like2;
  }
}
.fi-like-solid {
  &:before {
    content: $fi-var-like-solid;
  }
}
.fi-link {
  &:before {
    content: $fi-var-link;
  }
}
.fi-linkedin {
  &:before {
    content: $fi-var-linkedin;
  }
}
.fi-linkedin-2 {
  &:before {
    content: $fi-var-linkedin-2;
  }
}
.fi-lintern {
  &:before {
    content: $fi-var-lintern;
  }
}
.fi-lock {
  &:before {
    content: $fi-var-lock;
  }
}
.fi-look {
  &:before {
    content: $fi-var-look;
  }
}
.fi-loop {
  &:before {
    content: $fi-var-loop;
  }
}
.fi-magic-wand {
  &:before {
    content: $fi-var-magic-wand;
  }
}
.fi-magnet {
  &:before {
    content: $fi-var-magnet;
  }
}
.fi-mail {
  &:before {
    content: $fi-var-mail;
  }
}
.fi-mail-open {
  &:before {
    content: $fi-var-mail-open;
  }
}
.fi-mail-open-file {
  &:before {
    content: $fi-var-mail-open-file;
  }
}
.fi-male {
  &:before {
    content: $fi-var-male;
  }
}
.fi-map {
  &:before {
    content: $fi-var-map;
  }
}
.fi-map-2 {
  &:before {
    content: $fi-var-map-2;
  }
}
.fi-map-marker {
  &:before {
    content: $fi-var-map-marker;
  }
}
.fi-map-marker-2 {
  &:before {
    content: $fi-var-map-marker-2;
  }
}
.fi-medal {
  &:before {
    content: $fi-var-medal;
  }
}
.fi-menu {
  &:before {
    content: $fi-var-menu;
  }
}
.fi-micro {
  &:before {
    content: $fi-var-micro;
  }
}
.fi-monitor {
  &:before {
    content: $fi-var-monitor;
  }
}
.fi-moon {
  &:before {
    content: $fi-var-moon;
  }
}
.fi-more {
  &:before {
    content: $fi-var-more;
  }
}
.fi-mouse {
  &:before {
    content: $fi-var-mouse;
  }
}
.fi-music {
  &:before {
    content: $fi-var-music;
  }
}
.fi-musiclist {
  &:before {
    content: $fi-var-musiclist;
  }
}
.fi-mute {
  &:before {
    content: $fi-var-mute;
  }
}
.fi-network {
  &:before {
    content: $fi-var-network;
  }
}
.fi-news-paper {
  &:before {
    content: $fi-var-news-paper;
  }
}
.fi-next {
  &:before {
    content: $fi-var-next;
  }
}
.fi-next-2 {
  &:before {
    content: $fi-var-next-2;
  }
}
.fi-note {
  &:before {
    content: $fi-var-note;
  }
}
.fi-note2 {
  &:before {
    content: $fi-var-note2;
  }
}
.fi-notebook {
  &:before {
    content: $fi-var-notebook;
  }
}
.fi-paint {
  &:before {
    content: $fi-var-paint;
  }
}
.fi-paint-bucket {
  &:before {
    content: $fi-var-paint-bucket;
  }
}
.fi-paperclip {
  &:before {
    content: $fi-var-paperclip;
  }
}
.fi-paper-plane {
  &:before {
    content: $fi-var-paper-plane;
  }
}
.fi-pen {
  &:before {
    content: $fi-var-pen;
  }
}
.fi-pendrive {
  &:before {
    content: $fi-var-pendrive;
  }
}
.fi-phone {
  &:before {
    content: $fi-var-phone;
  }
}
.fi-photo {
  &:before {
    content: $fi-var-photo;
  }
}
.fi-photo-gallery {
  &:before {
    content: $fi-var-photo-gallery;
  }
}
.fi-piggy {
  &:before {
    content: $fi-var-piggy;
  }
}
.fi-pin {
  &:before {
    content: $fi-var-pin;
  }
}
.fi-pinterest {
  &:before {
    content: $fi-var-pinterest;
  }
}
.fi-pinterest-2 {
  &:before {
    content: $fi-var-pinterest-2;
  }
}
.fi-plane {
  &:before {
    content: $fi-var-plane;
  }
}
.fi-play {
  &:before {
    content: $fi-var-play;
  }
}
.fi-play-2 {
  &:before {
    content: $fi-var-play-2;
  }
}
.fi-plug {
  &:before {
    content: $fi-var-plug;
  }
}
.fi-plugin {
  &:before {
    content: $fi-var-plugin;
  }
}
.fi-plus {
  &:before {
    content: $fi-var-plus;
  }
}
.fi-plus-2 {
  &:before {
    content: $fi-var-plus-2;
  }
}
.fi-portfolio {
  &:before {
    content: $fi-var-portfolio;
  }
}
.fi-power {
  &:before {
    content: $fi-var-power;
  }
}
.fi-prev {
  &:before {
    content: $fi-var-prev;
  }
}
.fi-print {
  &:before {
    content: $fi-var-print;
  }
}
.fi-radio {
  &:before {
    content: $fi-var-radio;
  }
}
.fi-refresh {
  &:before {
    content: $fi-var-refresh;
  }
}
.fi-refresh-2 {
  &:before {
    content: $fi-var-refresh-2;
  }
}
.fi-refresh-cloud {
  &:before {
    content: $fi-var-refresh-cloud;
  }
}
.fi-repeat {
  &:before {
    content: $fi-var-repeat;
  }
}
.fi-ribbon {
  &:before {
    content: $fi-var-ribbon;
  }
}
.fi-right-arrow {
  &:before {
    content: $fi-var-right-arrow;
  }
}
.fi-right-arrow-2 {
  &:before {
    content: $fi-var-right-arrow-2;
  }
}
.fi-right-arrow-3 {
  &:before {
    content: $fi-var-right-arrow-3;
  }
}
.fi-rocket {
  &:before {
    content: $fi-var-rocket;
  }
}
.fi-safe {
  &:before {
    content: $fi-var-safe;
  }
}
.fi-science {
  &:before {
    content: $fi-var-science;
  }
}
.fi-scissors {
  &:before {
    content: $fi-var-scissors;
  }
}
.fi-search {
  &:before {
    content: $fi-var-search;
  }
}
.fi-server {
  &:before {
    content: $fi-var-server;
  }
}
.fi-settings {
  &:before {
    content: $fi-var-settings;
  }
}
.fi-share {
  &:before {
    content: $fi-var-share;
  }
}
.fi-shield {
  &:before {
    content: $fi-var-shield;
  }
}
.fi-shopbag {
  &:before {
    content: $fi-var-shopbag;
  }
}
.fi-shuffle {
  &:before {
    content: $fi-var-shuffle;
  }
}
.fi-signal {
  &:before {
    content: $fi-var-signal;
  }
}
.fi-smile {
  &:before {
    content: $fi-var-smile;
  }
}
.fi-speaker {
  &:before {
    content: $fi-var-speaker;
  }
}
.fi-star {
  &:before {
    content: $fi-var-star;
  }
}
.fi-stopwatch {
  &:before {
    content: $fi-var-stopwatch;
  }
}
.fi-study {
  &:before {
    content: $fi-var-study;
  }
}
.fi-sun {
  &:before {
    content: $fi-var-sun;
  }
}
.fi-switch {
  &:before {
    content: $fi-var-switch;
  }
}
.fi-target {
  &:before {
    content: $fi-var-target;
  }
}
.fi-ticket {
  &:before {
    content: $fi-var-ticket;
  }
}
.fi-timer {
  &:before {
    content: $fi-var-timer;
  }
}
.fi-tools {
  &:before {
    content: $fi-var-tools;
  }
}
.fi-trash {
  &:before {
    content: $fi-var-trash;
  }
}
.fi-twitter {
  &:before {
    content: $fi-var-twitter;
  }
}
.fi-umbrella {
  &:before {
    content: $fi-var-umbrella;
  }
}
.fi-unlock {
  &:before {
    content: $fi-var-unlock;
  }
}
.fi-up-arrow {
  &:before {
    content: $fi-var-up-arrow;
  }
}
.fi-up-arrow-2 {
  &:before {
    content: $fi-var-up-arrow-2;
  }
}
.fi-up-arrow-3 {
  &:before {
    content: $fi-var-up-arrow-3;
  }
}
.fi-upload {
  &:before {
    content: $fi-var-upload;
  }
}
.fi-usb {
  &:before {
    content: $fi-var-usb;
  }
}
.fi-user {
  &:before {
    content: $fi-var-user;
  }
}
.fi-user-female {
  &:before {
    content: $fi-var-user-female;
  }
}
.fi-users {
  &:before {
    content: $fi-var-users;
  }
}
.fi-vector {
  &:before {
    content: $fi-var-vector;
  }
}
.fi-video {
  &:before {
    content: $fi-var-video;
  }
}
.fi-voicemail {
  &:before {
    content: $fi-var-voicemail;
  }
}
.fi-volume {
  &:before {
    content: $fi-var-volume;
  }
}
.fi-volume1 {
  &:before {
    content: $fi-var-volume1;
  }
}
.fi-volume2 {
  &:before {
    content: $fi-var-volume2;
  }
}
.fi-wallet {
  &:before {
    content: $fi-var-wallet;
  }
}
.fi-way {
  &:before {
    content: $fi-var-way;
  }
}
.fi-wine {
  &:before {
    content: $fi-var-wine;
  }
}
.fi-world {
  &:before {
    content: $fi-var-world;
  }
}
.fi-wristwatch {
  &:before {
    content: $fi-var-wristwatch;
  }
}
.fi-youtube {
  &:before {
    content: $fi-var-youtube;
  }
}
/* stylelint-enable */
