//
// Icon variables
// --------------------------------------------------
$fi-font-path       : "fonts" !default;
$fi-font-family     : "rc-base-icons" !default;
$fi-font-size-base  : 1em !default;
$fi-font-prefix     : "fi" !default;

$fi-var-add-user: "\e900";
$fi-var-airplay: "\e901";
$fi-var-alarm: "\e902";
$fi-var-album: "\e903";
$fi-var-albums: "\e904";
$fi-var-anchor: "\e905";
$fi-var-angle-down-circle: "\e906";
$fi-var-angle-left-circle: "\e907";
$fi-var-angle-right-circle: "\e908";
$fi-var-angle-up-circle: "\e909";
$fi-var-arc: "\e90a";
$fi-var-attention: "\e90b";
$fi-var-back: "\e90c";
$fi-var-back-2: "\e90d";
$fi-var-ball: "\e90e";
$fi-var-bandaid: "\e90f";
$fi-var-battery: "\e910";
$fi-var-bell: "\e911";
$fi-var-bicycle: "\e912";
$fi-var-bluetooth: "\e913";
$fi-var-bookmarks: "\e914";
$fi-var-bottom-arrow: "\e915";
$fi-var-box1: "\e916";
$fi-var-box2: "\e917";
$fi-var-browser: "\e918";
$fi-var-calculator: "\e919";
$fi-var-call: "\e91a";
$fi-var-camera: "\e91b";
$fi-var-car: "\e91c";
$fi-var-cart: "\e91d";
$fi-var-cash: "\e91e";
$fi-var-chat: "\e91f";
$fi-var-clock: "\e920";
$fi-var-close: "\e921";
$fi-var-close-circle: "\e922";
$fi-var-cloud: "\e923";
$fi-var-cloud-download: "\e924";
$fi-var-cloud-upload: "\e925";
$fi-var-coffee: "\e926";
$fi-var-comment: "\e927";
$fi-var-compass: "\e928";
$fi-var-config: "\e929";
$fi-var-copy-file: "\e92a";
$fi-var-credit: "\e92b";
$fi-var-crop: "\e92c";
$fi-var-culture: "\e92d";
$fi-var-cup: "\e92e";
$fi-var-date: "\e92f";
$fi-var-delete-user: "\e930";
$fi-var-diamond: "\e931";
$fi-var-disk: "\e932";
$fi-var-diskette: "\e933";
$fi-var-display1: "\e934";
$fi-var-display2: "\e935";
$fi-var-door-lock: "\e936";
$fi-var-download: "\e937";
$fi-var-drawer: "\e938";
$fi-var-drop: "\e939";
$fi-var-edit: "\e93a";
$fi-var-envelope: "\e93b";
$fi-var-exapnd2: "\e93c";
$fi-var-expand1: "\e93d";
$fi-var-eyedropper: "\e93e";
$fi-var-female: "\e93f";
$fi-var-file: "\e940";
$fi-var-film: "\e941";
$fi-var-filter: "\e942";
$fi-var-flag: "\e943";
$fi-var-folder: "\e944";
$fi-var-gift: "\e945";
$fi-var-glasses: "\e946";
$fi-var-gleam: "\e947";
$fi-var-global: "\e948";
$fi-var-graph: "\e949";
$fi-var-graph1: "\e94a";
$fi-var-graph2: "\e94b";
$fi-var-graph3: "\e94c";
$fi-var-gym: "\e94d";
$fi-var-hammer: "\e94e";
$fi-var-headphones: "\e94f";
$fi-var-helm: "\e950";
$fi-var-help1: "\e951";
$fi-var-help2: "\e952";
$fi-var-home: "\e953";
$fi-var-hourglass: "\e954";
$fi-var-id: "\e955";
$fi-var-info: "\e956";
$fi-var-joy: "\e957";
$fi-var-junk: "\e958";
$fi-var-key: "\e959";
$fi-var-keypad: "\e95a";
$fi-var-leaf: "\e95b";
$fi-var-left-arrow: "\e95c";
$fi-var-less: "\e95d";
$fi-var-light: "\e95e";
$fi-var-like: "\e95f";
$fi-var-like2: "\e960";
$fi-var-link: "\e961";
$fi-var-lintern: "\e962";
$fi-var-lock: "\e963";
$fi-var-look: "\e964";
$fi-var-loop: "\e965";
$fi-var-magic-wand: "\e966";
$fi-var-magnet: "\e967";
$fi-var-mail: "\e968";
$fi-var-mail-open: "\e969";
$fi-var-mail-open-file: "\e96a";
$fi-var-male: "\e96b";
$fi-var-map: "\e96c";
$fi-var-map-2: "\e96d";
$fi-var-map-marker: "\e96e";
$fi-var-medal: "\e96f";
$fi-var-menu: "\e970";
$fi-var-micro: "\e971";
$fi-var-monitor: "\e972";
$fi-var-moon: "\e973";
$fi-var-more: "\e974";
$fi-var-mouse: "\e975";
$fi-var-music: "\e976";
$fi-var-musiclist: "\e977";
$fi-var-mute: "\e978";
$fi-var-network: "\e979";
$fi-var-news-paper: "\e97a";
$fi-var-next: "\e97b";
$fi-var-next-2: "\e97c";
$fi-var-note: "\e97d";
$fi-var-note2: "\e97e";
$fi-var-notebook: "\e97f";
$fi-var-paint: "\e980";
$fi-var-paint-bucket: "\e981";
$fi-var-paperclip: "\e982";
$fi-var-paper-plane: "\e983";
$fi-var-pen: "\e984";
$fi-var-pendrive: "\e985";
$fi-var-phone: "\e986";
$fi-var-photo: "\e987";
$fi-var-photo-gallery: "\e988";
$fi-var-piggy: "\e989";
$fi-var-pin: "\e98a";
$fi-var-plane: "\e98b";
$fi-var-play: "\e98c";
$fi-var-plug: "\e98d";
$fi-var-plugin: "\e98e";
$fi-var-plus: "\e98f";
$fi-var-portfolio: "\e990";
$fi-var-power: "\e991";
$fi-var-prev: "\e992";
$fi-var-print: "\e993";
$fi-var-radio: "\e994";
$fi-var-refresh-cloud: "\e995";
$fi-var-repeat: "\e996";
$fi-var-ribbon: "\e997";
$fi-var-right-arrow: "\e998";
$fi-var-rocket: "\e999";
$fi-var-safe: "\e99a";
$fi-var-science: "\e99b";
$fi-var-scissors: "\e99c";
$fi-var-search: "\e99d";
$fi-var-server: "\e99e";
$fi-var-settings: "\e99f";
$fi-var-share: "\e9a0";
$fi-var-shield: "\e9a1";
$fi-var-shopbag: "\e9a2";
$fi-var-shuffle: "\e9a3";
$fi-var-signal: "\e9a4";
$fi-var-smile: "\e9a5";
$fi-var-speaker: "\e9a6";
$fi-var-star: "\e9a7";
$fi-var-stopwatch: "\e9a8";
$fi-var-study: "\e9a9";
$fi-var-sun: "\e9aa";
$fi-var-switch: "\e9ab";
$fi-var-target: "\e9ac";
$fi-var-ticket: "\e9ad";
$fi-var-timer: "\e9ae";
$fi-var-tools: "\e9af";
$fi-var-trash: "\e9b0";
$fi-var-umbrella: "\e9b1";
$fi-var-unlock: "\e9b2";
$fi-var-up-arrow: "\e9b3";
$fi-var-upload: "\e9b4";
$fi-var-usb: "\e9b5";
$fi-var-user: "\e9b6";
$fi-var-user-female: "\e9b7";
$fi-var-users: "\e9b8";
$fi-var-vector: "\e9b9";
$fi-var-video: "\e9ba";
$fi-var-voicemail: "\e9bb";
$fi-var-volume: "\e9bc";
$fi-var-volume1: "\e9bd";
$fi-var-volume2: "\e9be";
$fi-var-wallet: "\e9bf";
$fi-var-way: "\e9c0";
$fi-var-wine: "\e9c1";
$fi-var-world: "\e9c2";
$fi-var-wristwatch: "\e9c3";
$fi-var-facebook: "\e9c4";
$fi-var-facebook-2: "\e9c5";
$fi-var-instagram: "\e9c6";
$fi-var-linkedin: "\e9c7";
$fi-var-linkedin-2: "\e9c8";
$fi-var-pinterest: "\e9c9";
$fi-var-twitter: "\e9ca";
$fi-var-youtube: "\e9cb";
$fi-var-down-arrow-2: "\e9cc";
$fi-var-down-arrow-3: "\e9cd";
$fi-var-left-arrow-2: "\e9ce";
$fi-var-left-arrow-3: "\e9cf";
$fi-var-less-2: "\e9d0";
$fi-var-map-marker-2: "\e9d1";
$fi-var-pinterest-2: "\e9d2";
$fi-var-play-2: "\e9d3";
$fi-var-plus-2: "\e9d4";
$fi-var-right-arrow-2: "\e9d5";
$fi-var-right-arrow-3: "\e9d6";
$fi-var-up-arrow-2: "\e9d7";
$fi-var-up-arrow-3: "\e9d8";
$fi-var-ban: "\e9d9";
$fi-var-check: "\e9da";
$fi-var-check-2: "\e9db";
$fi-var-refresh: "\e9dc";
$fi-var-refresh-2: "\e9dd";
$fi-var-like-solid: "\e9de";
$fi-var-angle-down: "\e9df";
$fi-var-angle-left: "\e9e0";
$fi-var-angle-right: "\e9e1";
$fi-var-angle-up: "\e9e2";
$fi-var-log-out: "\e9e3";
$fi-var-cart-add: "\e9e4";
$fi-var-cart-empty: "\e9e5";
$fi-var-cart-fast: "\e9e6";
$fi-var-cart-new: "\e9e7";
$fi-var-checkout: "\e9e8";
$fi-var-email: "\e9e9";
$fi-var-favorites: "\e9ea";
$fi-var-favorites-added: "\e9eb";
$fi-var-favorites-list: "\e9ec";
$fi-var-post: "\e9ed";
$fi-var-search-new: "\e9ee";
$fi-var-send: "\e9ef";
$fi-var-signout: "\e9f0";
$fi-var-user-edit-new: "\e9f1";
$fi-var-user-new: "\e9f2";
$fi-var-product-empty: "\e9f3";
$fi-var-amazon: "\e9f4";
$fi-var-cart-hand: "\e9f5";
$fi-var-home-new: "\e9f6";
$fi-var-phone-new: "\e9f7";
$fi-var-shipping: "\e9f8";
$fi-var-shipping-free: "\e9f9";
$fi-var-track-order: "\e9fa";
$fi-var-trolley: "\e9fb";
$fi-var-loading: "\e9fc";
