$fi-font-family: "rc-base-icons" !default;
$fi-font-path: "../fonts" !default;
$fi-font-size-base: 1em !default;
$fi-font-prefix: "fi" !default;

$fi-var-add-user: "\e900";
$fi-var-airplay: "\e901";
$fi-var-alarm: "\e902";
$fi-var-album: "\e903";
$fi-var-albums: "\e904";
$fi-var-anchor: "\e905";
$fi-var-angle-down: "\e906";
$fi-var-angle-down-circle: "\e907";
$fi-var-angle-left: "\e908";
$fi-var-angle-left-circle: "\e909";
$fi-var-angle-right: "\e90a";
$fi-var-angle-right-circle: "\e90b";
$fi-var-angle-up: "\e90c";
$fi-var-angle-up-circle: "\e90d";
$fi-var-arc: "\e90e";
$fi-var-attention: "\e90f";
$fi-var-back: "\e910";
$fi-var-back-2: "\e911";
$fi-var-ball: "\e912";
$fi-var-bandaid: "\e913";
$fi-var-battery: "\e914";
$fi-var-bell: "\e915";
$fi-var-bicycle: "\e916";
$fi-var-bluetooth: "\e917";
$fi-var-bookmarks: "\e918";
$fi-var-bottom-arrow: "\e919";
$fi-var-box1: "\e91a";
$fi-var-box2: "\e91b";
$fi-var-browser: "\e91c";
$fi-var-calculator: "\e91d";
$fi-var-call: "\e91e";
$fi-var-camera: "\e91f";
$fi-var-car: "\e920";
$fi-var-cart: "\e921";
$fi-var-cash: "\e922";
$fi-var-chat: "\e923";
$fi-var-check: "\e924";
$fi-var-clock: "\e925";
$fi-var-close: "\e926";
$fi-var-close-circle: "\e927";
$fi-var-cloud: "\e928";
$fi-var-cloud-download: "\e929";
$fi-var-cloud-upload: "\e92a";
$fi-var-coffee: "\e92b";
$fi-var-comment: "\e92c";
$fi-var-compass: "\e92d";
$fi-var-config: "\e92e";
$fi-var-copy-file: "\e92f";
$fi-var-credit: "\e930";
$fi-var-crop: "\e931";
$fi-var-culture: "\e932";
$fi-var-cup: "\e933";
$fi-var-date: "\e934";
$fi-var-delete-user: "\e935";
$fi-var-diamond: "\e936";
$fi-var-disk: "\e937";
$fi-var-diskette: "\e938";
$fi-var-display1: "\e939";
$fi-var-display2: "\e93a";
$fi-var-door-lock: "\e93b";
$fi-var-download: "\e93c";
$fi-var-drawer: "\e93d";
$fi-var-drop: "\e93e";
$fi-var-edit: "\e93f";
$fi-var-exapnd2: "\e940";
$fi-var-expand1: "\e941";
$fi-var-eyedropper: "\e942";
$fi-var-facebook: "\e943";
$fi-var-facebook-2: "\e944";
$fi-var-female: "\e945";
$fi-var-file: "\e946";
$fi-var-film: "\e947";
$fi-var-filter: "\e948";
$fi-var-flag: "\e949";
$fi-var-folder: "\e94a";
$fi-var-gift: "\e94b";
$fi-var-glasses: "\e94c";
$fi-var-gleam: "\e94d";
$fi-var-global: "\e94e";
$fi-var-graph: "\e94f";
$fi-var-graph1: "\e950";
$fi-var-graph2: "\e951";
$fi-var-graph3: "\e952";
$fi-var-gym: "\e953";
$fi-var-hammer: "\e954";
$fi-var-headphones: "\e955";
$fi-var-helm: "\e956";
$fi-var-help1: "\e957";
$fi-var-help2: "\e958";
$fi-var-home: "\e959";
$fi-var-hourglass: "\e95a";
$fi-var-id: "\e95b";
$fi-var-info: "\e95c";
$fi-var-instagram: "\e95d";
$fi-var-joy: "\e95e";
$fi-var-junk: "\e95f";
$fi-var-key: "\e960";
$fi-var-keypad: "\e961";
$fi-var-leaf: "\e962";
$fi-var-left-arrow: "\e963";
$fi-var-less: "\e964";
$fi-var-light: "\e965";
$fi-var-like: "\e966";
$fi-var-like2: "\e967";
$fi-var-link: "\e968";
$fi-var-linkedin: "\e969";
$fi-var-linkedin-2: "\e96a";
$fi-var-lintern: "\e96b";
$fi-var-lock: "\e96c";
$fi-var-look: "\e96d";
$fi-var-loop: "\e96e";
$fi-var-magic-wand: "\e96f";
$fi-var-magnet: "\e970";
$fi-var-mail: "\e971";
$fi-var-mail-open: "\e972";
$fi-var-mail-open-file: "\e973";
$fi-var-male: "\e974";
$fi-var-map: "\e975";
$fi-var-map-2: "\e976";
$fi-var-map-marker: "\e977";
$fi-var-medal: "\e978";
$fi-var-menu: "\e979";
$fi-var-micro: "\e97a";
$fi-var-monitor: "\e97b";
$fi-var-moon: "\e97c";
$fi-var-more: "\e97d";
$fi-var-mouse: "\e97e";
$fi-var-music: "\e97f";
$fi-var-musiclist: "\e980";
$fi-var-mute: "\e981";
$fi-var-network: "\e982";
$fi-var-news-paper: "\e983";
$fi-var-next: "\e984";
$fi-var-next-2: "\e985";
$fi-var-note: "\e986";
$fi-var-note2: "\e987";
$fi-var-notebook: "\e988";
$fi-var-paint: "\e989";
$fi-var-paint-bucket: "\e98a";
$fi-var-paperclip: "\e98b";
$fi-var-paper-plane: "\e98c";
$fi-var-pen: "\e98d";
$fi-var-pendrive: "\e98e";
$fi-var-phone: "\e98f";
$fi-var-photo: "\e990";
$fi-var-photo-gallery: "\e991";
$fi-var-piggy: "\e992";
$fi-var-pin: "\e993";
$fi-var-pinterest: "\e994";
$fi-var-plane: "\e995";
$fi-var-play: "\e996";
$fi-var-plug: "\e997";
$fi-var-plugin: "\e998";
$fi-var-plus: "\e999";
$fi-var-portfolio: "\e99a";
$fi-var-power: "\e99b";
$fi-var-prev: "\e99c";
$fi-var-print: "\e99d";
$fi-var-radio: "\e99e";
$fi-var-refresh: "\e99f";
$fi-var-refresh-2: "\e9a0";
$fi-var-refresh-cloud: "\e9a1";
$fi-var-repeat: "\e9a2";
$fi-var-ribbon: "\e9a3";
$fi-var-right-arrow: "\e9a4";
$fi-var-rocket: "\e9a5";
$fi-var-safe: "\e9a6";
$fi-var-science: "\e9a7";
$fi-var-scissors: "\e9a8";
$fi-var-search: "\e9a9";
$fi-var-server: "\e9aa";
$fi-var-settings: "\e9ab";
$fi-var-share: "\e9ac";
$fi-var-shield: "\e9ad";
$fi-var-shopbag: "\e9ae";
$fi-var-shuffle: "\e9af";
$fi-var-signal: "\e9b0";
$fi-var-smile: "\e9b1";
$fi-var-speaker: "\e9b2";
$fi-var-star: "\e9b3";
$fi-var-stopwatch: "\e9b4";
$fi-var-study: "\e9b5";
$fi-var-sun: "\e9b6";
$fi-var-switch: "\e9b7";
$fi-var-target: "\e9b8";
$fi-var-ticket: "\e9b9";
$fi-var-timer: "\e9ba";
$fi-var-tools: "\e9bb";
$fi-var-trash: "\e9bc";
$fi-var-twitter: "\e9bd";
$fi-var-umbrella: "\e9be";
$fi-var-unlock: "\e9bf";
$fi-var-up-arrow: "\e9c0";
$fi-var-upload: "\e9c1";
$fi-var-usb: "\e9c2";
$fi-var-user: "\e9c3";
$fi-var-user-female: "\e9c4";
$fi-var-users: "\e9c5";
$fi-var-vector: "\e9c6";
$fi-var-video: "\e9c7";
$fi-var-voicemail: "\e9c8";
$fi-var-volume: "\e9c9";
$fi-var-volume1: "\e9ca";
$fi-var-volume2: "\e9cb";
$fi-var-wallet: "\e9cc";
$fi-var-way: "\e9cd";
$fi-var-wine: "\e9ce";
$fi-var-world: "\e9cf";
$fi-var-wristwatch: "\e9d0";
$fi-var-youtube: "\e9d1";
